:root{
    box-sizing: border-box;
    font-size: 1em;
}
*,::after,::before{
    box-sizing: inherit;
}
.nav{
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    margin:0px;
    background-color:#9ED9F8;
    padding: 0px;
    justify-content: space-between;
    align-items: stretch;

}
.html img,.css img{
    height: 100px;
    width: 100px;
    margin: 3px 3px;
    border-radius: 20px;
    
}
.nav .html{
    border-bottom: 5px solid #300c63;
    width: 33%;
    
    
}
.nav .text{
    border-top: 5px solid #300c63;
    width: 33%;
    height: 109px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 2.5em;
    color: black;
    
}
.nav .css{
    border-bottom: 5px solid#300c63;
    width: 33%;
    display: flex;
    flex-direction: row-reverse;
   
}
*{
    margin: 0px;
    padding: 0px;
}
body{
    background-color:#fcfcfc;
}
.container{
    display: flex;
    justify-content: flex-start;
    flex-direction: column;
    margin: calc(5vw);
    
    
}
.container .img img{
    height: 250px;
    width: 350px;
    box-shadow: 5px -10px 8px #efc53c;
}


.container .html,.container .css{
    display: flex;
    margin: 0px 0px calc(10vw) 0px;
    align-items:flex-start;
    box-shadow: 0px 10px 8px #2857EF;

    
}
.container .html > .text{
    margin-left: calc(1.5vw);
    margin-right: calc(1vw);
    color: #ce5702;
    font-weight: 600;
    /* line-height: 10px; */
    font-size: 1.2em;
    letter-spacing: 2px;
}
.container .css{
    flex-direction: row-reverse;
}
.container .css_img{
    margin-left: calc(1vw);
}
.container .css > .text{
    margin-left: calc(1vw);
    color: #ce5702;
    font-weight: 600;
    /* line-height: 10px; */
    font-size: 1.2em;
    letter-spacing: 2px;
}



